<h2>Configuration</h2>
<table>
  <thead>
    <tr>
      <th>Duration</th>
      <th>Delay</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= configuration.duration %>s</td>
      <td><%= configuration.delay %>s</td>
    </tr>
  </tbody>
</table>
